*{
    
    background-color: bisque;
}


body{
    border: solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
}

#head{
    border: solid;
    height: 10%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

header{
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}

#main-box{
    display: flex;
    border: solid black;
    margin-top: 10%;
    width: 40%;
    height: 60%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 5px;
}

#input{
    border: solid red;
    /* width: 90%; */
    /* margin-top: 2px; */
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    align-items: center;
    /* height: 10%; */
}

#textarea{
    background-color: white;
    /* margin: 2% 2% 2% 2%; */
    width: 100%;
    border: none;
    resize: none;
}

#numbers{
    /* border: solid green; */
    height: 90%;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
}


.button{
    border: solid beige;
    border-width: 1px;
    box-shadow: 2px 1px beige;
}

button:hover{
    font-size: large;
    box-shadow: 5px 1px 1px 1px beige;
    background: white;
    color: black;

}

button{
    width: 100%;
    height: 100%;
    border-width: 1px;
}